<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MockUP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98AC581A1C57DF250098ACEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98AC582E1C57DF260098ACEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98AC58391C57DF260098ACEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
